header {
    background-color: dimgray;
}

.info {
    text-align: center;
    border-style: solid;
    border-width: thin;
}

h2 {
    background-color: darkred;
    color: bisque;
}

h3 {
    background-color: darkred;
    color: bisque;
}